extends layout

block content
	#content.container(style='text-align:center')
		form(action='/create-debate', method='post')
			.row
				h3.twelve.columns What are we talking about?

			.row
				.twelve.columns
					input.u-full-width(type='text', placeholder='Topic', name='topic')

			.row
				.five.columns
					input.u-full-width(type='text', placeholder='Opinion A', name='participantA')
				.two.columns 
					h4 vs
				.five.columns
					input.u-full-width(type='text', placeholder='Opinion B', name='participantB')

			.row
				br

			.row
				.twelve.columns 
					select(name='duration', style='margin-bottom:0em;')
						option(value='2') 2
						option(value='3') 3
						option(value='4') 4
						option(value='6') 6
						option(value='8') 8
						option(value='10') 10
						option(value='12') 12
						option(value='15') 15
						option(value='20') 20
					span(style='text-align:left;font-size:2em')  Minutes

			hr

			.row
				div.twelve.columns
					input.button-primary(type='submit', value='Create Debate Session')

	script(src='/javascripts/create-debate.js')
