extends layout

block content
	form(action='/vote-on-debate', method='get') 
		h3 Room code
		input.u-full-width(type='text', name='sessionCode', autocomplete='off', maxlength='4')
		h3 Your name
		input.u-full-width(type='text', name='name', maxlength='22')
		br
		br
		br
		br
		input.button-primary.u-full-width(type='submit', value='Join Now')

script(src='/javascripts/index.js')
