extends layout

block content
	form(action='/vote-on-debate', method='get') 
		h3 Room code
		input(type='text', name='sessionCode', autocomplete='off')
		h3 Name
		input(type='text', name='name')
		hr
		p
			input.button-primary(type='submit', value='Join')

script(src='/javascripts/index.js')
