doctype html
html
	head
		title= title

		//- Mobile Specific Metas
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- FONTS
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Raleway:400,300,600')

		//- CSS
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		//- Favicon
		link(rel='icon', type='image/png', href='images/favicon.png')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		//- script(src='//cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js')
		script(src='//aframe.io/releases/0.8.2/aframe.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/easing/EasePack.min.js')
		script(src='/javascripts/confetti.js')
		script(src='/javascripts/howler.min.js')
		//- script(src='/javascripts/jsfx.js')

	body
		.wrapper
			block content
