extends layout

block content

	#page
		#sessionCode.hidden #{sessionCode}

		h3#sessionIsPending.hidden(style='text-align:center') 
			span Turn the sound up! 
			br
			br
			span click!
			br
			br
			button#twiddle.button-primary.u-full-width Make some noise!

		div#sessionOver.hidden 
			

		#sessionIsLive.hidden
			button#voteForA.u-full-width.game-button #{participantA}
			br
			br
			button#undecided.u-full-width.game-button #{undecided}
			br
			br
			button#voteForB.u-full-width.game-button #{participantB}

	script(src="/javascripts/vote-on-debate.js")
