extends layout

block content

	#page
		#sessionCode.hidden #{sessionCode}

		h3#sessionIsPending.hidden 
			span Turn the sound up and click!
			br
			button#twiddle.button-primary Make some noise!

		div#sessionOver.hidden 
			

		#sessionIsLive.hidden
			button#voteForA.u-full-width.game-button #{participantA}
			br
			br
			button#undecided.u-full-width.game-button #{undecided}
			br
			br
			button#voteForB.u-full-width.game-button #{participantB}

	script(src="/javascripts/vote-on-debate.js")
