extends layout

block content
  #content
    h1 This is #{title} 
    form(action="/session", method="post")
      p 
      input(type="text", placeholder="What would you like to debate?", name="topic")
      p 
        input(type="text", placeholder="Participant A's name", name="participantA")
      p
        input(type="text", placeholder="Participant B's name", name="participantB")
      p Duration in Minutes
      input(type="number", name="duration", value="10")
      p
        input(type="submit", value="Create Debate Session")

  script(src="/javascripts/session.js")
